# editor temporaries
*~

# python byte code
*.pyc

# setup.py stuff
build/
dist/
joerd.egg-info/
/*.egg/
/*.egg
/.eggs

# data directories
srtm/
gmted/
etopo1/
ned/
ned_topobathy/

# tile generation directories
tiles/
terrarium_tiles/
normal_tiles/

# macOS sillyness
.DS_Store
