# editor temporaries
*~

# python byte code
*.pyc

# setup.py stuff
build/
dist/
joerd.egg-info/
/*.egg/
/*.egg

# data directories
srtm/
gmted/
etopo1/
ned/

# tile generation directories
tiles/
terrarium_tiles/
