[loggers]
keys=root,srtm,skadi,gmted,etopo1,terrarium

[handlers]
keys=consoleHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=WARNING
handlers=consoleHandler

[logger_srtm]
level=INFO
qualname=srtm
handlers=consoleHandler
propagate=0

[logger_gmted]
level=INFO
qualname=gmted
handlers=consoleHandler
propagate=0

[logger_etopo1]
level=INFO
qualname=etopo1
handlers=consoleHandler
propagate=0

[logger_skadi]
level=INFO
qualname=skadi
handlers=consoleHandler
propagate=0

[logger_terrarium]
level=INFO
qualname=terrarium
handlers=consoleHandler
propagate=0

[handler_consoleHandler]
class=StreamHandler
formatter=simpleFormatter
args=(sys.stdout,)

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
